<div class="row navSpacer"></div>
<div class="row navSpacer"></div>
<div class="row navSpacer"></div>

<div style="background-image: url('../../images/Maroon Color.jpg')" class="main" id="home-image" no-repeat></div>

<div class="container col-md-6 col-md-offset-4">
    <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url('../../images/Stephen Profile Picture.jpg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="developer-card developer-card-member">
                                            <div class="content">
                                                <div class="developer-avatar developer-avatar-danger">
                                                    <img alt="..." class="img-circle" src="../../images/Stephen Profile Picture.jpg" />
                                                </div>
                                                <div class="description">
                                                    <h4 class="title"><strong>Stephen Sun</strong></h4>
                                                    <p class="small-text">Software Developer</p>
                                                    <p class="description">Stephen is a software developer from Houston, Texas.</p>
                                                    <p>
                                                        <span class="label label-danger tags">Javascript</span>
                                                        <span class="label label-danger tags">C#</span>
                                                        <span class="label label-danger tags">AngularJS</span>
                                                        <span class="label label-danger tags">ASP.NET</span>
                                                    </p>
                                                    <center>
                                                        <a href="https://github.com" class="btn btn-default btn-sm"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                                        <a href="https://linkedin.com" class="btn btn-primary btn-sm"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="developer-card developer-card-member">
                                            <div class="content">
                                                <div class="developer-avatar developer-avatar-danger">
                                                    <img alt="..." class="img-circle" src="../../images/Deepa.jpg" />
                                                </div>
                                                <div class="description">
                                                    <h4 class="title"><strong>Deepa Chacko</strong></h4>
                                                    <p class="small-text">Software Developer</p>
                                                    <p class="description">Deepa is a software developer from Seattle, Washington.</p>
                                                    <p>
                                                        <span class="label label-danger tags">Javascript</span>
                                                        <span class="label label-danger tags">C#</span>
                                                        <span class="label label-danger tags">AngularJS</span>
                                                        <span class="label label-danger tags">ASP.NET</span>
                                                    </p>
                                                    <center>
                                                        <a href="https://github.com" class="btn btn-default btn-sm"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                                        <a href="https://linkedin.com" class="btn btn-primary btn-sm"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

