
<div class="row navSpacer"></div>

<div style="background-image: url('../../images/Street sidewalk.jpg')" class="main" id="home-image" no-repeat></div>

<div class="container" id="inbox">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Mail <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Mail</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Tasks</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">None</a></li>
                    <li><a href="#">Read</a></li>
                    <li><a href="#">Unread</a></li>
                    <li><a href="#">Starred</a></li>
                    <li><a href="#">Unstarred</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh">
                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;&nbsp;
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Mark all as read</a></li>
                    <li class="divider"></li>
                    <li class="text-center"><small class="text-muted">Select messages to see more actions</small></li>
                </ul>
            </div>
            <div class="pull-right">
                <span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a href="#" class="btn btn-danger btn-sm btn-block" role="button" data-toggle="modal" data-target="#message-modal"><i class="glyphicon glyphicon-edit"></i> Compose</a>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#"><span class="badge pull-right">2</span> Inbox </a>
                </li>
                <li><a href="#">Starred</a></li>
                <li><a href="#">Important</a></li>
                <li><a href="#">Sent Mail</a></li>
                <li><a href="#">Drafts</a></li>
            </ul>
        </div>
        <div class="col-sm-10 col-md-10">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        <span class="glyphicon glyphicon-inbox">
                        </span>Received
                    </a>
                </li>
                <li>
                    <a href="#profile" data-toggle="tab">
                        <span class="glyphicon glyphicon-user"></span>
                        Sent
                    </a>
                </li>
                <li>
                    <a href="#messages" data-toggle="tab">
                        <span class="glyphicon glyphicon-tags"></span>
                        Trash
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list" ng-repeat="message in controller.messages">
                        <a href="#" class="list-group-item">
                            <div class="checkbox" style="display: inline">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            <span class="name" style="min-width: 120px;
                                display: inline-block;"><strong>{{message.fromUser.firstName}} {{message.fromUser.lastName}}</strong></span> <span class="">{{message.subject}}: </span>
                            <span class="text-muted" style="font-size: 11px;">{{message.body}}</span> <span class="badge">{{message.time | timeago}}</span> <span class="pull-right">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade in" id="profile">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="text-center">This tab is empty.</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="messages">
                    ...
                </div>
                <div class="tab-pane fade in" id="settings">
                    This tab is empty.
                </div>
            </div>

            <div class="row-md-12">

                <div class="well">
                    <a href="/newsfeed">Go back Home</a>
                </div>

            </div>
        </div>
    </div>
</div>

   
<div class="modal fade" id="message-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <center>
                    <h4 class="modal-title" id="myModalLabel">
                        New Message
                    </h4>
                </center>
            </div>


            <div class="modal-body">

                <form ng-submit="controller.savePost()">
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" ng-model="controller.post.title" class="form-control" placeholder="Add subject" required />
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea rows="5" type="text" ng-model="controller.post.body" class="form-control" placeholder="Write message" required></textarea>
                    </div>
                    <br />
                    <br />
                    <center>
                        <div>
                            <button type="submit" class="btn btn-success btn-round" ng-click="controller.close()">
                                Create my message!
                            </button>
                        </div>
                    </center>
                </form>
            </div>


            <div class="modal-footer">
                <center><h6>Your post will be visible to all users in your neighborhood</h6></center>
            </div>
        </div>
    </div>
</div>




