<div class="row navSpacer"></div>
<div class="row navSpacer"></div>

<div style="background-image: url('../../images/Nature.jpg')" class="main" id="home-image" no-repeat></div>

<div style="position: fixed; top: 0; right: 0; width:100%; z-index: 1; opacity: 0.6">
    <div class="alert alert-danger" role="alert">
        <center>
            Hello <strong>{{controller.user.firstName}}</strong>, Welcome to the <strong>Admin Page</strong>
        </center>
    </div>
</div>

<div class="container col-md-4 col-md-offset-5">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Alerts</a></li>
        <li><a data-toggle="tab" href="#menu1">Posts</a></li>
        <li><a data-toggle="tab" href="#menu2">Events</a></li>
        <li><a data-toggle="tab" href="#menu3">Recommendations</a></li>
    </ul>

    <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
            <br />
            <p>This tab will display all alerts and flagged posts.</p>
        </div>

        <div id="menu1" class="tab-pane fade">
            <br />
            <div class="newsfeed-card card-user" ng-repeat="post in controller.posts">
                <div class="header">
                    <div class="image">
                        <img ng-src="../../images/Autumn.jpg" alt="..." />
                    </div>
                    <div class="author">
                        <img class="avatar" ng-src="../../images/Stephen Profile Picture.jpg" alt="..." />
                    </div>
                    <div class="social-line social-line-visible" data-buttons="4">
                        <a href="http://www.facebook.com" class="btn btn-social btn-facebook" style="color: #3b5998">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.twitter.com" class="btn btn-social btn-twitter" style="color: #55acee">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="http://www.pinterest.com" class="btn btn-social btn-pinterest" style="color: #cc2127">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a href="http://plus.google.com" class="btn btn-social btn-google" style="color: #dd4b39">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                    <div class="content">
                        <center><h6 class="category">{{post.category}}</h6></center>
                        <center><h4 class="title"><a href="/post/details/{{post.id}}">{{post.title}}</a></h4></center>
                        <p class="description">{{post.body}}</p>
                        <br />
                        <br />
                        <center><h6 class="category"><a href="/user/details/{{post.user.id}}"><strong>{{post.user.firstName}} {{post.user.lastName}}</strong></a> from <a href="/users"><strong>{{post.user.neighborhoodName}}</strong></a> - <strong>{{post.dateCreated | timeago}}</strong></h6></center>
                    </div>
                </div>
                <div class="social-line social-line-visible" data-buttons="3">
                    <button class="btn btn-social dropdown-toggle" data-toggle="dropdown">
                        <h4><strong><i class="fa fa-caret-square-o-down"></i></strong></h4>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Send private message</a></li>
                        <li><a href="#">Bookmark</a></li>
                        <li class="divider"></li>
                        <li><a href="/#">Flag Post</a></li>
                    </ul>
                    <button class="btn btn-social btn-facebook">
                        <h4><strong>THANK | {{post.thanks}}</strong></h4>
                    </button>
                    <a href="/post/details/{{post.id}}" class="btn btn-social btn-pinterest" style="color: #cc2127">
                        <h4><strong>REPLY</strong></h4>
                    </a>
                </div>
            </div>
            <br />
            <br />
        </div>

        <div id="menu2" class="tab-pane fade">
            <br />
            <div class="newsfeed-card" data-background="image" data-src="../../images/Events Sample Image.png" ng-repeat="event in controller.events">
                <div class="header">
                    <img ng-src="../../images/Events Sample Image.png" style="width: 100%; height: auto" />
                    <div class="social-line" data-buttons="3">
                        <button class="btn btn-social btn-facebook">
                            GOING | {{event.going}}
                        </button>
                        <button class="btn btn-social btn-neutral">
                            MAYBE | {{event.maybe}}
                        </button>
                        <button class="btn btn-social btn-pinterest">
                            DECLINE | {{event.declined}}
                        </button>
                    </div>
                </div>
                <div class="content">
                    <center><h4 class="title"><a href="/event/details/{{event.id}}">{{event.title}}</a></h4></center>
                    <center><h5 class="title">{{event.eventAddr}}</h5></center>
                    <center><h6 class="title">{{event.eventStart | date: "short"}} - {{event.eventEnd | date: "short"}}</h6></center>
                    <p class="description">
                        {{event.description}}
                    </p>
                    <br />
                </div>
                <center>
                    <div class="category event-label">
                        <a target="_blank" href="http://www.facebook.com"><h6 class="label label-primary" id="event-label"><i class="fa fa-facebook-square"></i> Facebook</h6></a>
                        <a target="_blank" href="http://www.twitter.com"><h6 class="label label-info" id="event-label"><i class="fa fa-twitter"></i> Twitter</h6></a>
                        <a target="_blank" href="http://www.pinterest.com"><h6 class="label label-danger" id="event-label"><i class="fa fa-pinterest"></i> Pinterest</h6></a>
                    </div>
                </center>
                <div class="filter"></div>
            </div>
            <br />
            <br />
            <br />
        </div>

        <div id="menu3" class="tab-pane fade">
            <br />
            <div class="newsfeed-card" ng-repeat="recommendation in controller.recommendations">
                <div class="content">
                    <center><h4 class="title"><strong><a href="/recommendation/details/{{recommendation.id}}">{{recommendation.businessName}}</a></strong></h4></center>
                    <center><h5 class="title"><a href="/recommendation/details/{{recommendation.id}}">{{recommendation.busAddr}}</a></h5></center>
                    <center><h5 class="title"><a href="/recommendation/details/{{recommendation.id}}">{{recommendation.busPhone}}</a></h5></center>
                    <center><h5 class="title"><a href="http://{{recommendation.url}}">{{recommendation.url}}</a></h5></center>
                    <center><h4><i class="fa fa-heart" style="color: red"><strong> {{recommendation.numRecos}} Neighbors Recommend</strong></i></h4></center>
                </div>
            </div>
            <br />
        </div>
    </div>    
</div>


