<div class="row navSpacer"></div>


<div style="background-image: url('../../images/Zone In Login Page.jpg')" class="main" id="landing-page">
    <div class="overlay"></div>
    <div class="container">
        <p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook fa-fw"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter fa-fw"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus fa-fw"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram fa-fw"></i></a></p>
        <h1 class="cursive">Welcome to Zone In</h1>
        <h2 class="sub">The premier site for connecting with your neighbors.</h2>
        <div class="mailing-list">
            <h3 class="mailing-list-heading">Find out what's happening in your neighborhood now</h3>
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="address" class="sr-only"></label>
                        <input places-auto-complete type="text" placeholder="Enter your address to sign up" id="email" class="form-control transparent" required>
                    </div>
                    <a href="/register" class="btn btn-danger">Sign Up</a>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="address" class="sr-only"></label>
                        <input type="text" placeholder="Already have an account?" id="email" class="form-control transparent" readonly>
                    </div>
                    <a href="/login" class="btn btn-primary">Login</a>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p>Copyright &copy; Zone In 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>